body, html {
    width: 100%;
    height: 100%;
}
body {
    position: absolute;
}
.chat-box {
    margin: 5px auto;
    border-radius: 10px;
    padding: 5px;
    padding-top: 10px;
    max-width: 500px;
    height: 80%;
    background-color: silver;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.messeges-fild {
    width: 95%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    overflow-y: scroll;
    padding: 0 5px 5px 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    scrollbar-width: thin; /*firefox*/
}

.messege-box {
    border-radius: 5px;
    position: relative;
    display: inline-block;
    margin: 6px 8px;
    padding: 5px;
    max-width: 75%;
    height: min-content;
    background-color: lightsteelblue;
    flex: 0 0 auto;
}

.panel {
    flex: 1 0 auto;
    height: 0;
}

.sender {
    padding-bottom: 5px;
    font-weight: bolder;
    font-size: 16px;
}

.messege {
    margin-left: 5px;
}

.caht-fild {
    flex: 0 0 auto;
    position: relative;
    width: 97%;
    margin: 1rem auto 4px auto;
    display: flex;
}

.btn {
    flex: 0 0 auto;
    font-size: 14px;
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: aquamarine;
    height: 20px;
    align-self: end;
    cursor: pointer;

    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.btn:active {
    background-color: mediumaquamarine;
    box-shadow: inset 0 0 1px 1px gray;
}

.input-text {
    flex: 1 0 auto;
    font-size: 14px;
    padding: 5px;
    border-radius: 10px;
    resize: none;
    scrollbar-width: thin; /*firefox*/
}