body, html {
    width: 100%;
    height: 100%;
}
body {
    position: absolute;
    background-color: beige;
    color: dimgray;
}
hr {
    padding: 1px;
    background-color: gray;
    margin-bottom: 8px;
}
h1 {
    margin-bottom: 8px;
}
.card {
    position: absolute;
    vertical-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    width: max-content;
    min-width: 150px;
    background-color: darkseagreen;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    color: dimgray;
    box-shadow: 0 0 2px 2px slategray;
}
.card-body {
    padding: 0 5px;
}
.label {
    display: block;
    margin-bottom: 3px;
}
.color-select {
    width: 25px;
    height: 25px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.input {
    margin-bottom: 8px;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px gray;
}
.btn-success {
    margin-bottom: 8px;
    display: block;
    /*float: right;*/
    padding: 5px;
    border-radius: 5px;
    color: dimgray;
    background-color: aquamarine;
    cursor: pointer;
    box-shadow: 0 0 1px 1px gray;
}
.btn-success:active {
    background-color: yellowgreen;
    color: gray;
    box-shadow: inset 0 0 1px 1px gray;
}
.info-box {
    padding: 8px;
    background-color: white;
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1rem;
    font-size: small;
}
.chat-box {
    margin: 5px auto;
    border-radius: 10px;
    padding: 5px;
    padding-top: 10px;
    max-width: 500px;
    height: 80%;
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.messeges-fild {
    width: 95%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    overflow-y: scroll;
    padding: 0 5px 5px 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    scrollbar-width: thin; /*firefox*/
}

.messege-box {
    border-radius: 5px;
    position: relative;
    display: inline-block;
    margin: 6px 8px;
    padding: 5px;
    max-width: 75%;
    height: min-content;
    background-color: #90c896;
    width: max-content;
    flex: 0 0 auto;
}

.panel {
    flex: 1 0 auto;
    height: 0;
}

.sender {
    padding-bottom: 5px;
    font-weight: bolder;
    font-size: 16px;
}

.messege {
    margin-left: 5px;
}

.caht-fild {
    flex: 0 0 auto;
    position: relative;
    width: 97%;
    margin: 1rem auto 4px auto;
    display: flex;
}

.btn {
    flex: 0 0 auto;
    font-size: 14px;
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: aquamarine;
    height: 20px;
    align-self: end;
    cursor: pointer;

    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.btn:active {
    background-color: mediumaquamarine;
    box-shadow: inset 0 0 1px 1px gray;
}

.input-text {
    flex: 1 0 auto;
    font-size: 14px;
    padding: 5px;
    border-radius: 10px;
    resize: none;
    scrollbar-width: thin; /*firefox*/
}

.btn-logout {
    width: max-content;
    margin-top: 8px;
}
.user-color {
    display: inline-block;
    width: 15px;
    height: 15px;
    /*vertical-align: middle;*/
}

.nav {
    position: absolute;
    top: 10px;
    left: 10px;
    width: max-content;
}